<VirtualHost *:80>
    ServerName {{ _vhost.name }}
    ServerAlias www.{{ _vhost.name }}
    DocumentRoot {{ _vhost.document_root | default([apache.vhosts_dir, _vhost.name, apache.vhosts_htdocs, 'htdocs'] | join('/')) }}
    RemoteIPHeader X-Forwarded-For

    ErrorLog "|/usr/sbin/rotatelogs -L {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'error_log'] | join('/')) }} -f -l {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'error_log'] | join('/')) }}.%Y-%m-%d 86400"
    CustomLog "|/usr/sbin/rotatelogs -L {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'access_log'] | join('/')) }} -f -l {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'access_log'] | join('/')) }}.%Y-%m-%d 86400" combined

{% if _vhost.ssl_redirect | default(True) %}
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{REQUEST_URI} !^\/\.well-known\/.*$
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]
{% else %}
    <Directory {{ _vhost.document_root | default([apache.vhosts_dir, _vhost.name, apache.vhosts_htdocs, 'htdocs'] | join('/')) }}>
       Options -Indexes +FollowSymLinks +MultiViews
       AllowOverride All
       Order allow,deny
       allow from all
    </Directory>

    <IfModule mod_deflate.c>
      # Compress HTML, CSS, JavaScript, Text, XML and fonts
      AddOutputFilterByType DEFLATE application/javascript
      AddOutputFilterByType DEFLATE application/rss+xml
      AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
      AddOutputFilterByType DEFLATE application/x-font
      AddOutputFilterByType DEFLATE application/x-font-opentype
      AddOutputFilterByType DEFLATE application/x-font-otf
      AddOutputFilterByType DEFLATE application/x-font-truetype
      AddOutputFilterByType DEFLATE application/x-font-ttf
      AddOutputFilterByType DEFLATE application/x-javascript
      AddOutputFilterByType DEFLATE application/xhtml+xml
      AddOutputFilterByType DEFLATE application/xml
      AddOutputFilterByType DEFLATE font/opentype
      AddOutputFilterByType DEFLATE font/otf
      AddOutputFilterByType DEFLATE font/ttf
      AddOutputFilterByType DEFLATE image/svg+xml
      AddOutputFilterByType DEFLATE image/x-icon
      AddOutputFilterByType DEFLATE text/css
      AddOutputFilterByType DEFLATE text/html
      AddOutputFilterByType DEFLATE text/javascript
      AddOutputFilterByType DEFLATE text/plain
      AddOutputFilterByType DEFLATE text/xml
    </IfModule>
{% endif %}

</VirtualHost>

{% if _vhost.certificates or _vhost.certificates == 'letsencrypt' %}
<VirtualHost *:443>
    ServerName {{ _vhost.name }}
    ServerAlias www.{{ _vhost.name }}
    ServerAlias s4.sertekmedia.lt
    DocumentRoot {{ _vhost.document_root | default([apache.vhosts_dir, _vhost.name, apache.vhosts_htdocs, 'htdocs'] | join('/')) }}
    RemoteIPHeader X-Forwarded-For

    <Directory {{ _vhost.document_root | default([apache.vhosts_dir, _vhost.name, apache.vhosts_htdocs, 'htdocs'] | join('/')) }}>
       Options Indexes FollowSymLinks MultiViews
       AllowOverride All
       Order allow,deny
       allow from all
    </Directory>

    ErrorLog "|/usr/sbin/rotatelogs -L {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'error_log'] | join('/')) }} -f -l {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'error_log'] | join('/')) }}.%Y-%m-%d 86400"
    CustomLog "|/usr/sbin/rotatelogs -L {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'access_log'] | join('/')) }} -f -l {{ _vhost.logs | default([apache.vhosts_dir, _vhost.name, 'logs', 'access_log'] | join('/')) }}.%Y-%m-%d 86400" combined
    # LogLevel rewrite:trace3

    SSLEngine On
    SSLProtocol all -SSLv2
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
{% if _vhost.certificates == 'letsencrypt' %}
    SSLCertificateFile {{ certbot_live_dir }}/{{ _vhost.name }}/cert.pem
    SSLCertificateKeyFile {{ certbot_live_dir }}/{{ _vhost.name }}/privkey.pem
{% else %}
    SSLCertificateFile {{ apache[ansible_os_family]['certs_dir'] }}/{{ _vhost.name }}.crt
    SSLCertificateKeyFile {{ apache[ansible_os_family]['private_dir'] }}/{{ _vhost.name }}.key
{% endif %}

    <IfModule mod_deflate.c>
      # Compress HTML, CSS, JavaScript, Text, XML and fonts
      AddOutputFilterByType DEFLATE application/javascript
      AddOutputFilterByType DEFLATE application/rss+xml
      AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
      AddOutputFilterByType DEFLATE application/x-font
      AddOutputFilterByType DEFLATE application/x-font-opentype
      AddOutputFilterByType DEFLATE application/x-font-otf
      AddOutputFilterByType DEFLATE application/x-font-truetype
      AddOutputFilterByType DEFLATE application/x-font-ttf
      AddOutputFilterByType DEFLATE application/x-javascript
      AddOutputFilterByType DEFLATE application/xhtml+xml
      AddOutputFilterByType DEFLATE application/xml
      AddOutputFilterByType DEFLATE font/opentype
      AddOutputFilterByType DEFLATE font/otf
      AddOutputFilterByType DEFLATE font/ttf
      AddOutputFilterByType DEFLATE image/svg+xml
      AddOutputFilterByType DEFLATE image/x-icon
      AddOutputFilterByType DEFLATE text/css
      AddOutputFilterByType DEFLATE text/html
      AddOutputFilterByType DEFLATE text/javascript
      AddOutputFilterByType DEFLATE text/plain
      AddOutputFilterByType DEFLATE text/xml
    </IfModule>

</VirtualHost>
{% endif %}
